@import "../../../assets/scss/variable.scss";

.mask-input {
  padding-bottom: 20px;
  position: relative;
  &__container {
    width: 100%;
    height: 44px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    margin: 0.5rem 0;
    color: rgba(0, 0, 0, 0.87);
  }
  &__label {
    margin-bottom: 0.5rem;
    color: black;
    font-weight: bold;
  }
  &__error {
    font-size: 12px;
    color: #fa3434;
    margin-bottom: 5px;
  }

  input {
    border-radius: 4px;
    border: none;
    height: 100%;
    width: 100%;
    color: black;
    font-size: 15px;
    padding: 0 1rem;
    &:focus {
      outline-color: $primary-color;
    }
    &:focus::placeholder {
      color: transparent;
      opacity: 0;
    }
    &::placeholder {
      color: #808080;
      font-size: 13px;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    transition: background-color 5000s ease-in-out 0s;
  }

}
