.container {
  width: 100px;
  min-width: 100%;
  background-color: #f5f5f5;
  height: 100%;
  border: 0;
  border-radius: 25px;
  box-shadow: 0px 0px 12px 0px rgb(55 73 72 / 2%);
  padding: 2rem;
}

.course-table {
  background: white;
  border-radius: 10px;
  height: 100%;
  padding: 2rem;

  th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dee2e6;
    height: 60px;
    font-size: 16px;
    padding: 0 8px;
  }
  // td {
  //   text-align: left;
  //   vertical-align: middle;
  //   border: 1px solid #dee2e6;
  //   height: 60px;
  //   padding: 0 8px;
  // }
  &__edit {
    width: 60px;
  }
  &__no-order {
    width: 60px;
    font-size: 24px !important;
  }
  &__name {
    width: 300px;
  }
  &__phone {
    width: 180px;
  }
  &__email {
    width: 300px;
  }
  &__button {
    width: 60px;
  }
}

.tutor-row {
  &:hover {
    background: rgba(222, 226, 230, 0.3);
  }
  td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dee2e6;
    height: 60px;
    padding: 0 8px;
  }
  &__email {
    text-align: left !important;
  }
  &__name {
    display: flex;
    align-items: center;
  }
}

